
<h1>Login Page</h1>

<form action="/Home/Login" method="post">
    UserName:<input type="text" name="username" value="" />
    Password:<input type="password" name="password" value="" />
    <button type="submit">Login</button>
</form>